<div class="container my-5 minimalist-card p-4">
  <h2 class="mb-4 text-center">Create New Claim</h2>

  <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea id="description" formControlName="description" 
                class="form-control" rows="3" placeholder="Enter claim description"></textarea>
      <div *ngIf="itemForm.get('description')?.touched && itemForm.get('description')?.invalid"
           class="text-danger mt-1">
        Description is required
      </div>
    </div>
    
    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input type="date" id="date" formControlName="date" 
             class="form-control" [min]="currentDate" [max]="currentDate" [value]="currentDate"/>
      <div *ngIf="itemForm.get('date')?.touched && itemForm.get('date')?.invalid"
           class="text-danger mt-1">
        Date is required
      </div>
    </div>
 
    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <input type="text" id="status" formControlName="status" class="form-control" value=""/>
    </div>

 
    <div class="d-grid mt-4">
      <button type="submit" class="btn btn-outline-primary btn-lg" [disabled]="!itemForm.valid">
        Create Claim
      </button>
    </div>
  </form>
</div>

 <div id="snackbarToast" class="toast align-items-center text-bg-success border-0 position-fixed bottom-0 end-0 m-3"
     role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
     
    </div>
    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
</div>
