<nav *ngIf="IsLoggin" class="navbar navbar-expand-lg navbar-dark custom-navbar px-3 shadow-lg">
  <div class="logo-area">
    <img src="../../assets/logocrop2.png" alt="ClaimSafe Logo" class="main-logo">
  </div>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li *ngIf="!IsLoggin" class="nav-item">
        <a class="nav-link" routerLink>Home</a>
      </li>

      <!-- Role-based links -->
      <li *ngIf="IsLoggin && roleName === 'POLICYHOLDER'" class="nav-item">
        <a class="nav-link" routerLink="/policies">Buy Policy</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'POLICYHOLDER'" class="nav-item">
        <a class="nav-link" routerLink="/my-policies">My Policies</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'POLICYHOLDER'" class="nav-item">
        <a class="nav-link" routerLink="/dashboard">My Claims</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'ADJUSTER'" class="nav-item">
        <a class="nav-link" routerLink="/dashboard">View Claims</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'ADJUSTER'" class="nav-item">
        <a class="nav-link" routerLink="/view-underwriters">View Underwriters</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'INVESTIGATOR'" class="nav-item">
        <a class="nav-link" routerLink="/create-investigator">Create Investigation</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'INVESTIGATOR'" class="nav-item">
        <a class="nav-link" routerLink="/dashboard">View Investigations</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'UNDERWRITER'" class="nav-item">
        <a class="nav-link" routerLink="/dashboard">View Claims</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'ADMIN'" class="nav-item">
        <a class="nav-link" routerLink="/policies">View Policies</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'ADMIN'" class="nav-item">
        <a class="nav-link" routerLink="/create-policy">Create Policy</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li *ngIf="!IsLoggin" class="nav-item">
        <a class="nav-link login-btn" routerLink="/login">Login</a>
      </li>
      <li *ngIf="IsLoggin" class="nav-item">
        <a class="nav-link logout-btn" (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Logout
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>