<nav *ngIf="IsLoggin" class="navbar navbar-expand-lg navbar-dark custom-navbar px-3 shadow-lg">
  <a class="navbar-brand fw-bold text-uppercase">CLaimSafe</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-auto">
      <li *ngIf="!IsLoggin" class="nav-item">
        <a class="nav-link" routerLink>Home</a>
      </li>

      <!-- Role-based links -->
      <li *ngIf="IsLoggin && roleName === 'POLICYHOLDER'" class="nav-item">
        <a class="nav-link" routerLink="/policies">View Policies</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'POLICYHOLDER'" class="nav-item">
        <a class="nav-link" routerLink="/create-claim">Create Claims</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'POLICYHOLDER'" class="nav-item">
        <a class="nav-link" routerLink="/my-policies">My Policies</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'POLICYHOLDER'" class="nav-item">
        <a class="nav-link" routerLink="/dashboard">My Claims</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'ADJUSTER'" class="nav-item">
        <a class="nav-link" routerLink="/dashboard">View Claims</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'ADJUSTER'" class="nav-item">
        <a class="nav-link" routerLink="/view-underwriters">View Underwriters</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'INVESTIGATOR'" class="nav-item">
        <a class="nav-link" routerLink="/create-investigator">Create Investigation</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'INVESTIGATOR'" class="nav-item">
        <a class="nav-link" routerLink="/dashboard">View Investigations</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'UNDERWRITER'" class="nav-item">
        <a class="nav-link" routerLink="/dashboard">View Claims</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'ADMIN'" class="nav-item">
        <a class="nav-link" routerLink="/policies">View Policies</a>
      </li>
      <li *ngIf="IsLoggin && roleName === 'ADMIN'" class="nav-item">
        <a class="nav-link" routerLink="/create-policy">Create Policy</a>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li *ngIf="!IsLoggin" class="nav-item">
        <a class="nav-link login-btn" routerLink="/login">Login</a>
      </li>
      <li *ngIf="IsLoggin" class="nav-item">
        <a class="nav-link logout-btn" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>